header {
    border-bottom: 1px solid #d3d0cf;
    margin-bottom: 100px;
}

.menu-list {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.menu-link {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    display: block;
    float: left;
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    margin-right: 15px;
}

.column {
    width: 90%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    margin-bottom: 40px;
}

#book-reviews {
    float: left;
    margin-right: 40px;
    width: 70%;
}

.title {
    height: 55px;
    font-size: 35px;
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 15px 0 35px 0;
}

.book-review {
    width: 30%;
    float: left;
    margin-right: 25px;
    margin-bottom: 40px;
}

.book-review:nth-of-type(4) {
    clear: both;
}

.book-img {
    max-height: 400px;
}

.book-title {
    color: #ff4b2e;
    font-size: 30px;
    font-style: italic;
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    font-weight: bold;
}

.book-author {
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

#contact-form .contac-label, .book-description, .read-more, .news-resume {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.read-more {
    color: #ff4b2e;
}

#latest-news {
    float: right;
    width: 20%;
}

.news {
    border-bottom: 1px dashed black;
    padding-bottom: 25px;
}

.news-title {
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    font-weight: bold;
}

#contact {
    clear: both;
}

#contact-form {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
}

/* Fields */
#contact-form .contact-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact-form .contact-input,
#contact-form .contact-textarea {
    background-color: transparent; /* Remove background fill */
    text-transform: uppercase; /* Make text all uppercase */
    border-radius: 0; /* Remove corner curve */
    border: 1px solid black; /* 2px white border */
    color: black; /* White text */
    height: 45px; /* Increase input height */
    width: 100%;
    padding: 0 10px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    black;
}
/* Button */
#contact-form .send-button {
   text-transform: uppercase;
   padding: 10px 60px;
   color: black;
   background: #fff;
   font-size: 20px;
   font-weight: bold;
   border: 2px solid black;
   margin: 60px auto 0 auto;
   font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
   display: block; 
}

footer {
    border-top: 1px solid #d3d0cf;
    margin-top: 100px;
}

.footer-links {
    float: left;
    margin-right: 30px;
    font-family: sans-serif;
}

.footer-links .footer-links-list {
    list-style: none;
    padding: 0;
}

.footer-links-title {
    font-size: 11px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 20px;
}

.footer-link {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: lighter;
    padding-bottom: 15px;
    display: block;
}

/*
    Seccion autoras
*/

.authors-title {
    color: #000;
    font-size: 56px;
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    font-weight: bold;
    margin: 30px 0 0 0;
    text-align: center;
}

.small-column {
    width: 70%;
    margin: 0 auto;
}

.authors-subtitle {
    color: #000;
    font-size: 24px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    margin: 15px 0 140px 0;
    font-weight: normal;
    text-align: center;
}

.author {
    clear: both;
    overflow: auto;
    margin-bottom: 35px;
}

.author-portrait {
    float: left;
    margin-right: 30px; 
    width: 300px;
}

.author.right .author-portrait {
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

.author-name {
    color: #ff4b2e;
    font-size: 30px;
    font-style: italic;
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    font-weight: bold;
}

.author.right .author-name, .author.right .author-dates, .author.right .author-resume {
    text-align: right;
}

.author-dates {
    font-family: Playfair Display,Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
}

.author-resume {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}