/*
    Index
    -----------------------------------------
    1. GENERAL
    2. HEADER
    3. MAIN SECTION
    4. VIDEOS SECTION
    5. MORE NEWS SECTION
    6. FOOTER
    7. MEDIA QUERIES
    -----------------------------------------
*/

/*
=============================================
            1. GENERAL
=============================================
*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('fonts/FuturaPTBold.otf');
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'FuturaPT';
}

img {
    width: 100%;
}

.page-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 1200px;
}

p, small {
    font-family: 'Proxima Nova';
    color: #2A2A2A;
}


/*
=============================================
            2. HEADER
=============================================
*/

nav {
    justify-content: space-between;
    background-color: #c33;
    position: fixed;
    width: 100%;
}

.menu {
    display: flex;
    color: #FFF;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
} 

.logo {
    width: auto;
    height: 100%;
    position: absolute;
    transform: translateX(-50%) scale(2);
    right: 0;
    top: 0;
}

.menu-item {
    line-height: 55px;
    margin: 0 15px;
    position: relative;
}

/*
=============================================
            3. MAIN SECTION
=============================================
*/

#main-section {
    display: flex;
}

main {
    flex-basis: 80%;
}

.main-news-container {
    display: flex;
    justify-content: space-between;
}

.main-news {
    flex-basis: 600px;
    flex-shrink: 1;
    margin: 10px;
}

.secondary-main-news-container {
    flex-basis: 300px;
    flex-shrink: 1;
    margin: 10px;
}


.less-relevant-main-news-container {
    display: flex;
    justify-content: space-between;
}

.less-relevant-main-news {
    flex-basis: 200px;
    margin: 5px;
}

aside {
    margin-left: 40px;
    background: #FAFAFA;
    padding: 20px;
    flex-basis: 20%;
}

.small-news + .small-news {
    margin-top: 10px;
    border-top: 1px solid #d0d0d0;
}

/*
=============================================
            4. VIDEOS SECTION
=============================================
*/

#videos-section {
    background-color: #000;
    margin: 50px 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-title {
    color: #FFF;
    text-align: center;
    font-size: 52px;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    flex-grow: 0;
    flex-basis: 650px;
}

.video-container {
    flex-basis: 280px;
}

.video-container img {
    border: 5px solid #FFF;
    box-sizing: border-box;
}

.video-container h3 {
    color: #FFF;
}

/*
=============================================
            5. MORE NEWS SECTION
=============================================
*/

#more-news {
    display: flex;
}

.more-news-secondary-column,
.more-news-main-column {
    flex-basis: 100px;
    flex-grow: 1;
}

.more-news-main-column {
    padding: 10px 20px; 
}

.more-news-secondary-column article,
.more-news-main-column article {
    padding: 10px;
}

.more-news-secondary-column article + article,
.more-news-main-column article + article {
    margin-top: 10px;
    border-top: 1px solid #d0d0d0;
}

.more-news-container {
    display: flex;
    flex-basis: 200px;
    flex-grow: 4;
}

.more-news-main-column article:nth-of-type(1) h1 {
    font-size: 38px;
    margin: 15px 0;
}

.more-news-main-column article:nth-of-type(2) {
    display: flex;
    align-items: flex-start
}

.more-news-main-column article:nth-of-type(2) img {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

.more-news-main-column .text-container h2 {
    margin-top: 0;
}

.more-news-aside {
    flex-basis: 200px;
    flex-shrink: 3;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.more-news-secondary-column {
    flex-shrink: 2;
}

.more-news-main-column {
    flex-grow: 3;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    margin: 0 20px;
}

.thumbnail-container {
    display: flex;
    min-width: 200px;
    margin: 20px 0;
}

.thumbnail {
    flex-basis: 60px;
    height: 60px;
}

.thumbnail-description {
    margin: 0 0 0 10px;
}

/*
=============================================
            6. FOOTER
=============================================
*/

footer {
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 4px solid #c3333c;
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    flex-grow: 1;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links-column {
    margin: 0 20px;
    flex-basis: 100px;
}

.footer-link-title {
    color: #2A2A2A;
    font-size: 15px;
}

.footer-link {
    font-family: 'Proxima Nova';
    font-size: 13px;
    color: #BEBEBE;
}

/*
=============================================
            7. MEDIA QUERIES
=============================================
*/

@media (max-width: 1160px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-section {
        flex-direction: column;
    }

    .main-news-container,
    .less-relevant-main-news-container {
        max-width: 900px;
    }

    #main-section aside {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        text-align: center;
    }

    .small-news {
        flex-basis: 25%;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .small-news + .small-news {
        margin-top: 0;
        border-top: 0;
        border-left: 1px solid #d0d0d0;
    }

    .videos-container {
        justify-content: space-evenly;
        padding: 0 30px;
    }

    .video-container {
        flex-basis: 380px;
    }

    #more-news {
        flex-direction: column;
    }

    .more-news-main-column {
        border-left: 0;
    }

    .more-news-secondary-column {
        order: 1;
    }

    .more-news-aside {
        margin-top: 40px;
        padding-top: 40px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .aside-news {
        flex-basis: 400px;
        flex-grow: 0;
    }

    .thumbnails-container {
        margin-left: 20px;
    }

    .thumbnail-container {
        margin: 0 0 20px;
    }
}

@media (max-width: 900px) {
    .menu-item {
        visibility: hidden;
    }

    .main-news-container {
        padding: 0 30px;
        flex-direction: column;
    }

    .main-news {
        flex-basis: auto;
    }

    .secondary-main-news-container {
        flex-basis: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 30px 0 0;
    }

    .secondary-main-news {
        flex-basis: 40%;
    }

    .less-relevant-main-news-container {
        padding: 0 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .less-relevant-main-news {
        flex-basis: 40%;
    }

    .small-news {
        flex-basis: 50%;
    } 

    .small-news + .small-news {
        border: 0;
    }

    .more-news-container {
        flex-direction: column;
    }

    .more-news-main-column {
        border: 0;
    }

    .more-news-main-column article:nth-of-type(2) {
        display: block;
    }

    .more-news-main-column article:nth-of-type(2) img {
        max-width: 100%;
        margin: 20px 0;
    }

    .more-news-secondary-column article {
        padding: 10px 50px;
    }
}

@media (max-width: 500px) {
    body {
        text-align: center;
    }

    .main-news {
        margin: 0;
    }

    #main-section aside,
    .secondary-main-news-container,
    .less-relevant-main-news-container {
        display: block;    
    }

    #main-section aside {
        margin-top: 20px;
    }

    #videos-section {
        padding-bottom: 40px;
    }

    .more-news-main-column {
        padding: 0;
    }

    .more-news-secondary-column article {
        padding: 10px 30px;
    }

    .more-news-aside {
        flex-direction: column;
    }

    .aside-news {
        flex-basis: auto;
    }

    .thumbnails-container {
        margin-left: 0;
        text-align: left;
    }
}